@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-container {
  background: #f1f5f9 !important;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

@keyframes float-shadow {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.2;
  }

  50% {
    transform: scale(0.8);
    opacity: 0.1;
  }
}

@keyframes soft-pulse {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }

  50% {
    transform: scale(1.15);
    opacity: 0.2;
  }

  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-shadow {
  animation: float-shadow 4s ease-in-out infinite;
}

.animate-soft-pulse {
  animation: soft-pulse 3s ease-in-out infinite;
}

.custom-marker {
  background: transparent;
  border: none;
}

/* Tăng độ mượt cho các chuyển động Leaflet */
.leaflet-marker-icon {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}